<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title> Become a Pet Shuser! </title>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,900' rel='stylesheet' type='text/css'>

</head>
<body>
<center>
  <img src="images/catdog.gif"></img>
</center>
<center><h1 style="font-family: 'Playfair Display', serif; font-weight: 900; font-size: 40px; color: #d60821">Pet Shuser Registration</h1></center>
<center>
<div style="background-color: #4a84c6; border-radius: 10px; height: 250px; width: 450px">
  <form style="font-family: 'Shadows Into Light', cursive; font-size: 30px; padding-top: 50px" method="post" action="/signup">
    <b>Username: </b><input style="height: 20px; width: 170px" type="text" name="username">
      <br>
    <b>Password: </b>&nbsp;<input style="height: 20px; width: 170px" type="password" name="password">
      <br>
      <button style="font-family: 'Playfair Display', serif; font-size: 16px; font-weight: 400; border-radius: 4px; background-color: #d60821; color: white">Submit</button>
    </style>
  </form>
</div>
</center>

</body>
</html>